h1{
    position: relative;
}

h1:hover::after{
    content: attr(data-mycontent);
    font-size: 12px;
    background-color: rgb(15, 218, 215);
    color: red;
    position: absolute;
    top: 0;
    padding: 5px;
}